<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>广告添加</title>
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-advertising-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" name="name" th:value="${advertising!=null ? advertising.name:''}">
			</div>
		</div>
		<div class="row cl" id="popup_banner_description">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告URL：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="url" name="url" th:value="${advertising!=null ? advertising.url:''}">
            </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入正整数" id="sort" name="sort" th:value="${advertising!=null ? advertising.sort:''}">
            </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>广告banner上传：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" readonly nullmsg="请添加附件！" style="width:400px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" name="file" id="bannerFileId" class="input-file">
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"></label>
			<div class="formControls col-xs-8 col-sm-9" style="color:red;">图片格式：jpg格式；图片比例：5:2；图片尺寸：1500x600。</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<input type="hidden" id="id" name="id" value="" th:value="${advertising!=null ? advertising.id:''}">
			</div>
		</div>
	</form>
</div>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript">
$(function(){
	$("#form-advertising-add").validate({
		rules:{
			name:{
				required:true
			},
			url:{
				required:true
			},
			sort:{
				required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var isFlag=true;
			if($("#id").val()==""&&$("#bannerFileId").length>0&&$("#bannerFileId").val()==""){
				isFlag=false;
				layer.msg("广告banner为必传项",{icon:2,time:2000});
			}
			if(isFlag){
				var urlStr="";
				if($("#id").val()!=""){
					urlStr="/updateAdvertising";
				}else{
					urlStr="/saveAdvertising";
				}
				$(form).ajaxSubmit({
					url: urlStr,
					type: 'post',
					dataType:"json",
					success: function(data){
					    if(data.code==0){
	                        layer.msg('操作成功!',{icon:1,time:1000});
	                        setTimeout("window.parent.location.reload();",1000);
						}else{
	                        layer.msg(data.msg,{icon:2,time:2000});
						}
					},
	                error: function(XmlHttpRequest, textStatus, errorThrown){
						layer.msg('操作失败!',{icon:2,time:1000});
						setTimeout("window.parent.location.reload();",1000);
					}
				});
			}
		}
	});
});
</script>
</body>
</html>