<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>4s店添加</title>
<style type="text/css">
	#shopWord{
		position: absolute;
		z-index: 99;
		width: 245px;
		height: auto;
		background-color: white;
		border: black solid 1px;
		display: none;
	}
	.click_shopWork{
		padding-bottom: 8px;
		font-weight:lighter;
		font-size: 13px;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.click_shopWork:hover{
		color: orange;
		background-color: gray;
	}
	#word{
		position: absolute;
		z-index: 99;
		width: 245px;
		height: auto;
		background-color: white;
		border: black solid 1px;
		display: none;
	}
	.click_work{
		padding-bottom: 8px;
		font-weight:lighter;
		font-size: 13px;
		cursor:pointer;/*鼠标放上变成小手*/
	}
	.click_work:hover{
		color: orange;
		background-color: gray;
	}
	.error{
		color: gray;
		cursor:pointer;/*鼠标放上变成小手*/
	}
</style>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-product-add"  enctype="multipart/form-data">
		<input type="hidden" name="userId" id="userId" value="" th:value="${user!=null ? user.id:''}">
		<div th:if="${user.id=='root'}">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">4s店：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input id="shopText" class="input-text" type="text" placeholder="" autocomplete="off" th:value="${product!=null&&product.shop!=null ? product.shop.name:''}">
					<div id="shopWord"></div>
					<input id="shopIdInput" name="shopId" type="hidden" value="" th:value="${product!=null&&product.shop!=null ? product.shop.id:''}">
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">车型库：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="carText" class="input-text" type="text" placeholder="" autocomplete="off" th:value="${product!=null&&product.car!=null ? product.car.name:''}">
				<div id="word"></div>
				<input id="carIdInput" name="carId" type="hidden" value="" th:value="${product!=null&&product.car!=null ? product.car.id:''}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">车辆名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" name="name" th:value="${product!=null ? product.name:''}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">售价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="price" name="price" th:value="${product!=null ? product.price:''}">
			</div>
		</div>
		<div class="row cl" id="store-description">
			<label class="form-label col-xs-4 col-sm-3">详情说明：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="store-area" name="details" cols="" rows="" class="textarea"  placeholder="详情说明...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="详情说明不能为空！" onKeyUp="$.Huitextarealength(this,500)" th:text="${product!=null ? product.details:''}"></textarea>
				<p class="textarea-numberbar"><em id="store-restriction" class="textarea-length">500</em>/500</p>
			</div>
		</div>
		<div id="imgeProductDiv" th:if="${product==null}">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">附件(主图)：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<a onClick="addImgProductFileTr();" href="javascript:;" title="添加" style="text-decoration:none"><i class="Hui-iconfont">&#xe600;&nbsp;&nbsp;</i></a>
					<span class="btn-upload form-group">
						<input class="input-text upload-url" type="text" readonly nullmsg="请添加附件！" style="width:400px">
						<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
						<input type="file" name="mainFile" class="input-file">
					</span>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
		<span id="childPlaceHideSpan" style="display: none;">
		</span>
		<input type="hidden" name="id" id="productId" value="" th:value="${product!=null ? product.id:''}">
	</form>
	<div class="row cl" id="imgeProductDivClone" style="display:none;">
		<label class="form-label col-xs-4 col-sm-3">附件(图片)：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<a onClick="deleteFile($(this));" href="javascript:;" title="删除" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;&nbsp;&nbsp;</i></a>
			<span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" readonly nullmsg="请添加附件！" style="width:400px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" class="input-file">
			</span>
		</div>
	</div>
</article>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
var randomId;
function getRandomId(){
	return Math.round(Math.random()*1000000000000000);
}
$(function(){
	$("#form-product-add").validate({
		rules:{
			name:{
				required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var urlStr="";
			if($("#productId").val()!=""){
				urlStr="/updateProduct";
			}else{
				urlStr="/saveProduct";
			}
			$(form).ajaxSubmit({
				url: urlStr,
				type: 'post',
				dataType:"json",
				success: function(data){
					if(data.code==0){
						layer.msg('操作成功!',{icon:1,time:1000});
					}else{
						layer.msg(data.msg,{icon:1,time:1000});
					}
					setTimeout("window.parent.location.reload();",1000);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('操作失败!',{icon:1,time:1000});
					setTimeout("window.parent.location.reload();",1000);
				}
			});
		}
	});
	if($("#userId").val()=="root"){
		//当键盘键被松开时发送Ajax获取数据
		$('#shopText').keyup(function(){
			var keywords = $(this).val();
			if (keywords=='') { $('#shopWord').hide(); return };
			$.ajax({
	            type: 'POST',
	            url: '/searchTop10UsingShopListByName',
	            data : {
	                "name" : keywords
	            },
	            dataType: 'json',
				beforeSend:function(){
					$('#shopWord').append('<div>正在加载。。。</div>');
				},
				success:function(data){
					$('#shopWord').empty().show();
					if (data.data=='')
					{
						$('#shopWord').append('<div class="error">未找到  "' + keywords + '"</div>');
					}
					$.each(data.data, function(index,shop){
						$('#shopWord').append('<div class="click_shopWork" id="'+ shop.id +'">'+ shop.name +'</div>');
					})
				},
				error:function(){
					$('#shopWord').empty().show();
					$('#shopWord').append('<div class="click_shopWork">失败 "' + keywords + '"</div>');
				}
			})
		});
		//点击赋值shopId
		$(document).on('click','.click_shopWork',function(){
			var word = $(this).text();
			$('#shopText').val(word);
			$("#shopIdInput").val($(this).attr("id"));
			$('#shopWord').hide();
		});
	}
	//当键盘键被松开时发送Ajax获取数据
	$('#carText').keyup(function(){
		var keywords = $(this).val();
		if (keywords=='') { $('#word').hide(); return };
		$.ajax({
            type: 'POST',
            url: '/searchTop10UsingCarListByName',
            data : {
                "name" : keywords
            },
            dataType: 'json',
			beforeSend:function(){
				$('#word').append('<div>正在加载。。。</div>');
			},
			success:function(data){
				$('#word').empty().show();
				if (data.data=='')
				{
					$('#word').append('<div class="error">未找到  "' + keywords + '"</div>');
				}
				$.each(data.data, function(index,car){
					$('#word').append('<div class="click_work" id="'+ car.id +'">'+ car.name +'</div>');
				})
			},
			error:function(){
				$('#word').empty().show();
				$('#word').append('<div class="click_work">失败 "' + keywords + '"</div>');
			}
		})
	});
	//点击赋值customerId
	$(document).on('click','.click_work',function(){
		var word = $(this).text();
		$('#carText').val(word);
		$("#carIdInput").val($(this).attr("id"));
		$('#word').hide();
	});
});
function addImgProductFileTr(){
	var imgeProductDiv=$("#imgeProductDivClone").clone().css("display","").attr("id","newImgeProductDiv");
	imgeProductDiv.find("input[type=file]").attr("name","files");
	$("#imgeProductDiv").append(imgeProductDiv);
}
function deleteFile(object){
	object.parents("div#newImgeProductDiv").remove();
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>