<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>文章列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章管理 <span class="c-gray en">&gt;</span> 文章列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" onclick="evaluateAdd('广告添加','/toEvaluateAdd')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 文章添加</a></span> <span class="r" id="">共有数据：<strong id="list_quantity"></strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="80">序号</th>
					<th width="100">标题名称</th>
					<th>文章内容</th>
					<th>图片</th>
					<th width="60">状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody id="evaluateTbody">
			</tbody>
		</table>
	</div>
</div>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
        type : "GET",
        url : "/getAllEvaluateList",
        dataType : "json",
        success : function(data) {
            if (data.code == "0") {
				$.each(data.data, function (index, evaluate) {
					createTr(index,evaluate);
            	});
            } else {
                alert("获取信息失败");
            }
        }
    });
});
function createTr(index,evaluate){
	var tr=$("<tr>").attr("class","text-c").attr("id","evaluateTr_"+evaluate.id);
	$("#evaluateTbody").append(tr);

	var td=$("<td>").html(index+1);
	tr.append(td);

	td=$("<td>").css("text-align","left").html(evaluate.title);
	tr.append(td);

	td=$("<td>").css("text-align","left").html(evaluate.content);
	tr.append(td);

	td=$("<td>").css("text-align","left");
	var img=$("<img>").attr("src","");
	tr.append(td);

	td=$("<td>").attr("class","td-status");
	if(evaluate.state==2)
		td.append("<span class='label label-success radius'>已启用</span>");
	else
		td.append("<span class='label radius'>已停用</span>");
	tr.append(td);

	td=$("<td>").attr("class","td-manage");
	var stopA=$("<a>").css("text-decoration","none").attr("href","javascript:")
	.click(function(){
		updateEvaluateState(this,evaluate.id);
	});
	var stopLi=$("<i>").attr("class","Hui-iconfont");
	if(evaluate.state==2){
		stopA.attr("title","停用");
		stopLi.html("&#xe631;&nbsp;&nbsp;");
	}
	else{
		stopA.attr("title","启用");
		stopLi.html("&#xe615;&nbsp;&nbsp;");
	}
	var editA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","修改")
	.click(function(){
		evaluateEdit('4s店修改','/toEvaluateUpdate?evaluateId='+evaluate.id,evaluate.id,'800','500');
	});
	var editLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6df;&nbsp;&nbsp;");
	var deleteA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","删除")
	.click(function(){
		evaluateDelete(this,evaluate.id);
	});
	var deleteLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6e2;&nbsp;&nbsp;");
	td.append(stopA.append(stopLi)).append(editA.append(editLi)).append(deleteA.append(deleteLi));

	tr.append(td);
}
function evaluateAdd(title,url,w,h){
	layer_show(title,url,w,h);
}
function evaluateEdit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
function evaluateDelete(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/deleteEvaluate',
			data : {
	            "evaluateId" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
	            	$(obj).parents("tr").remove();
	            	layer.msg('已删除!',{icon:1,time:1000});
	            } else {
	                layer.msg(data.msg,{icon:1,time:1000});
	            }
	        }
		});		
	});
}
function updateEvaluateState(obj,id){
	layer.confirm('确认要'+obj.title+'吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/updateEvaluateState',
			data : {
	            "evaluateId" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
					if(data.data.state==-1){
		            	$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateEvaluateState(this,\""+data.data.id+"\");' href='javascript:;' title='启用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe615;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已停用</span>');
						$(obj).remove();
						layer.msg('已停用!',{icon: 5,time:1000});
					}else{
						$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateEvaluateState(this,\""+data.data.id+"\");' href='javascript:;' title='停用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe631;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用!', {icon: 6,time:1000});
					}
	            } else {
	                layer.msg(data.msg,{icon:2,time:2000});
	            }
	        }
		});	
	});
}
</script>
</body>
</html>