<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>品牌管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 品牌管理<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="brandAdd('添加品牌','/toBrandAdd','','310')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加品牌</a></span> <span class="r">共有数据：<strong id="list_quantity"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">品牌列表</th>
			</tr>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="200">品牌名称</th>
				<th width="200">型号</th>
				<th width="200">图片</th>
				<th width="200">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody id="brandTbody">

		</tbody>
	</table>
</div>
<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
        type : "GET",
        url : "/getBrandAllList",
        dataType : "json",
        success : function(data) {
            if (data.code == "0") {
				$.each(data.data, function (index, brand) {
					createTr(index,brand);
            	});
            	$("#list_quantity").html(data.data.length);
            } else {
                alert("获取信息失败");
            }
        }
    });
});
function createTr(index,brand){
	var tr=$("<tr>").attr("class","text-c").attr("id","brandTr_"+brand.id).click(function(){
	  if($("tr[id^=modelTr_"+brand.id+"]").length>0)
	  	$("tr[id^=modelTr_"+brand.id+"]").remove();
	  else
	  	createModelTr((index+1),brand.id);
	});
	$("#brandTbody").append(tr);

	var td=$("<td>").html(index+1);
	tr.append(td);

	td=$("<td>").css("text-align","left").html(brand.name);
	tr.append(td);

	td=$("<td>");
	tr.append(td);
	var modelAddA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","添加型号").attr("class","btn btn-primary radius")
	.click(function(){
	  modelAdd('添加型号','/toModelAdd?brandId='+brand.id,'','500','300');
	});
	var modelAddLi=$("<i>").attr("class","Hui-iconfont").html("&#xe600;");
	td.append(modelAddA.append(modelAddLi).append("添加型号&nbsp;&nbsp;"));

	td=$("<td>").css("text-align","left");
	tr.append(td);
	var imgAddA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","添加图片").attr("class","btn btn-primary radius")
	.click(function(){
	  brandImgAdd("添加"+brand.name+"的图片",'/toImgBrandAdd?brandId='+brand.id,'','300','100');
	});
	var imgAddLi=$("<i>").attr("class","Hui-iconfont").html("&#xe600;");
	td.append(imgAddA.append(imgAddLi).append("添加图片&nbsp;&nbsp;"));
	if(brand.imgBrand!=null){
		var imgUrl="/"+brand.imgBrand.fileName;
		var img=$("<img>").attr("src",imgUrl).css("height","30");
		td.append("&nbsp;&nbsp;&nbsp;&nbsp;").append(img);
	}

	td=$("<td>").attr("class","td-status");
	if(brand.state==2)
		td.append("<span class='label label-success radius'>已启用</span>");
	else
		td.append("<span class='label radius'>已停用</span>");
	tr.append(td);

	td=$("<td>").attr("class","td-manage");
	var stopA=$("<a>").css("text-decoration","none").attr("href","javascript:")
	.click(function(){
	  updateBrandState(this,brand.id);
	});
	var stopLi=$("<i>").attr("class","Hui-iconfont");
	if(brand.state==2){
		stopA.attr("title","停用");
		stopLi.html("&#xe631;&nbsp;&nbsp;");
	}
	else{
		stopA.attr("title","启用");
		stopLi.html("&#xe615;&nbsp;&nbsp;");
	}
	var editA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","修改")
	.click(function(){
	  brandEdit('修改品牌','/toBrandUpdate?brandId='+brand.id,brand.id,'500','300');
	});
	var editLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6df;&nbsp;&nbsp;");
	var deleteA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","删除")
	.click(function(){
	  brandDelete(this,brand.id);
	});
	// var deleteLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6e2;&nbsp;&nbsp;");
	// td.append(stopA.append(stopLi)).append(editA.append(editLi)).append(deleteA.append(deleteLi));
	td.append(stopA.append(stopLi)).append(editA.append(editLi));

	tr.append(td);
}
function createModelTr(brandSort,brandId){
	$.ajax({
        type: 'POST',
		url: '/getModelListByBrandId',
		data : {
        "brandId":brandId
   		},
        dataType : "json",
        success : function(data) {
            if (data.code == "0") {
            	$("tr[id^=modelTr_"+brandId+"]").remove();
				$.each(data.data, function (index,model) {
					var tr=$("<tr>").attr("class","text-c").attr("id","modelTr_"+brandId+"_"+model.id);
					if($("tr[id^=modelTr_"+brandId+"]").length==0)
						$("#brandTr_"+brandId).after(tr);
					else
						$("tr[id^=modelTr_"+brandId+"]:last").after(tr);

					var td=$("<td>").html(brandSort+"—"+(index+1));
					tr.append(td);

					td=$("<td>");
					tr.append(td);

					td=$("<td>").css("text-align","left").attr("colspan","2").html("&nbsp;&nbsp;&nbsp;&nbsp;"+model.name);
					tr.append(td);

					td=$("<td>").attr("class","td-status");
					if(model.state==2)
						td.append("<span class='label label-success radius'>已启用</span>");
					else
						td.append("<span class='label radius'>已停用</span>");
					tr.append(td);

					td=$("<td>").attr("class","td-manage");
					var stopA=$("<a>").css("text-decoration","none").attr("href","javascript:")
					.click(function(){
					  updateModelState(this,model.id);
					});
					var stopLi=$("<i>").attr("class","Hui-iconfont");
					if(model.state==2){
						stopA.attr("title","停用");
						stopLi.html("&#xe631;&nbsp;&nbsp;");
					}
					else{
						stopA.attr("title","启用");
						stopLi.html("&#xe615;&nbsp;&nbsp;");
					}
					var editA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","修改")
					.click(function(){
					  modelEdit('修改型号','/toModelUpdate?modelId='+model.id,model.id,'800','500');
					});
					var editLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6df;&nbsp;&nbsp;");
					// var deleteA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","删除")
					// .click(function(){
					//   modelDelete(this,model.id);
					// });
					// var deleteLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6e2;&nbsp;&nbsp;");
					// td.append(stopA.append(stopLi)).append(editA.append(editLi)).append(deleteA.append(deleteLi));
					td.append(stopA.append(stopLi)).append(editA.append(editLi));
					tr.append(td);
            	});
            } else {
                alert("获取信息失败");
            }
        }
    });
}
function brandAdd(title,url,w,h){
	layer_show(title,url,w,h);
}
function brandEdit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
function brandDelete(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/deleteBrand',
			data : {
	            "id" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
	            	$(obj).parents("tr").remove();
	            	layer.msg('已删除!',{icon:1,time:1000});
	            } else {
	                layer.msg(data.msg,{icon:2,time:2000});
	            }
	        }
		});		
	});
}
function updateBrandState(obj,id){
	layer.confirm('确认要'+obj.title+'吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			type: 'POST',
			url: '/updateBrandState',
			data : {
	            "brandId" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
					if(data.data.state==-1){
		            	$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateBrandState(this,\""+data.data.id+"\");' href='javascript:;' title='启用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe615;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已停用</span>');
						$(obj).remove();
						layer.msg('已停用!',{icon: 5,time:1000});
					}else{
						$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateBrandState(this,\""+data.data.id+"\");' href='javascript:;' title='停用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe631;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用!', {icon: 6,time:1000});
					}
	            } else {
	                layer.msg(data.msg,{icon:2,time:2000});
	            }
	        }
		});	
	});
}
function modelAdd(title,url,w,h){
	layer_show(title,url,w,h);
}
function modelEdit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
function modelDelete(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/deleteModel',
			data : {
	            "id" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
	            	$(obj).parents("tr").remove();
	            	layer.msg('已删除!',{icon:1,time:1000});
	            } else {
	                layer.msg(data.msg,{icon:2,time:2000});
	            }
	        }
		});		
	});
}
function updateModelState(obj,id){
	layer.confirm('确认要'+obj.title+'停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			type: 'POST',
			url: '/updateModelState',
			data : {
	            "modelId" : id
	        },
			dataType: 'json',
			success : function(data) {
	            if (data.code == "0") {
					if(data.data.state==-1){
		            	$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateModelState(this,\""+data.data.id+"\");' href='javascript:;' title='启用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe615;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已停用</span>');
						$(obj).remove();
						layer.msg('已停用!',{icon: 5,time:1000});
					}else{
						$(obj).parents("tr").find(".td-manage").prepend("<a onClick='updateModelState(this,\""+data.data.id+"\");' href='javascript:;' title='停用' style='text-decoration:none'><i class='Hui-iconfont'>&#xe631;&nbsp;&nbsp;</i></a>");
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用!', {icon: 6,time:1000});
					}
	            } else {
	                layer.msg(data.msg,{icon:2,time:2000});
	            }
	        }
		});	
	});
}
function brandImgAdd(title,url,w,h){
	layer_show(title,url,w,h);
}
</script>
</body>
</html>