<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>添加品牌</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-brand-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="brandName" name="brandName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌首字母：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="brandInitial" name="brandInitial">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>型号名：</label>
			<div class="formControls col-xs-8 col-sm-9" id="modelDiv">
				<a onClick="addModelTr();" href="javascript:;" title="添加" style="text-decoration:none"><i class="Hui-iconfont">&#xe600;&nbsp;&nbsp;</i></a><input type="text" class="input-text" value="" placeholder="" name="modelNames" style="width:90%;">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
var randomId;
function getRandomId(){
	return Math.round(Math.random()*1000000000000000);
}
$(function(){
	$("#form-brand-add").validate({
		rules:{
			brandName:{
				required:true
			},
			brandInitial:{
				required:true,
				minlength:1,
				maxlength:1
			},
			modelNames:{
				required:true
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				url: "/saveBrandAndModels",
				type: 'post',
				dataType:"json",
				success: function(data){
					layer.msg('添加成功!',{icon:1,time:1000});
					setTimeout("window.parent.location.reload();",1000);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
					setTimeout("window.parent.location.reload();",1000);
				}
			});
		}
	});
});
function addModelTr(){
	randomId=getRandomId();
	var modelInput=$("<input>",{"type":"text","id":"fileText_"+randomId,"name":"modelNames"});
	modelInput.css("width","90%").attr("class","input-text");

	var deleteA=$("<a>").css("text-decoration","none").attr("href","javascript:").attr("title","删除")
	.click(function(){
	  deleteModelTr($(this));
	});
	var deleteLi=$("<i>").attr("class","Hui-iconfont").html("&#xe6e2;&nbsp;&nbsp;");
	var modelDiv=$("<div>").attr("class","formControls col-xs-8 col-sm-9");
	modelDiv.append("<br>").append(deleteA.append(deleteLi)).append(modelInput).append("<br/>");
	$("#modelDiv").append(modelDiv);
}
function deleteModelTr(object){
	object.parent().remove();
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>