<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>车辆库excel导入</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="formAdd"  enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">车辆库excel文件：</label>
			<div class="formControls col-xs-8 col-sm-9">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="btn-upload form-group">
					<input class="input-text upload-url" type="text" readonly nullmsg="请添加文件！" style="width:400px">
					<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
					<input type="file" name="file" class="input-file">
				</span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>

		
	</form>
</article>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本--> 

<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$("#formAdd").validate({
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				url: "/importCarExcel",
				type: 'post',
				dataType:"json",
				success: function(data){
					if(data.code==0){
						layer.msg('操作成功!',{icon:1,time:1000});
                        setTimeout("window.location.reload();",1000);
					}else{
						layer.msg(data.msg,{icon:2,time:2000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('操作失败!',{icon:2,time:1000});
				}
			});
		}
	});
});

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>