<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="common :: header"></div>
<title>4s店添加</title>
<style>
	.store-contact{
		margin-top: 10px;
	}
	.store-contact:nth-child(1){
		margin-top: 0px!important;
	}
</style>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="formAdd"  enctype="multipart/form-data">
		<div id="imgeDiv">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">附件(主图)：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<a onClick="addImgFileTr();" href="javascript:;" title="添加" style="text-decoration:none"><i class="Hui-iconfont">&#xe600;&nbsp;&nbsp;</i></a>
					<span class="btn-upload form-group">
						<input class="input-text upload-url" type="text" readonly nullmsg="请添加附件！" style="width:400px">
						<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
						<input type="file" name="mainFile" class="input-file">
					</span>
				</div>
			</div>
		</div>
		<div class="row cl">
		   <label class="form-label col-xs-4 col-sm-3">图片：</label>
		   <span th:each="imgShop:${shop.mainImgShops}">
			    <a th:href="${imgShop.fileName}" target="_blank"><img th:src="${imgShop.fileName}" width="100" height="100"></a>
			    <br>
		   </span>
		   <span th:each="imgShop:${shop.commonImgShops}">
			    <a th:href="${imgShop.fileName}" target="_blank"><img th:src="${imgShop.fileName}" width="100" height="100"></a>
			    <a onClick="imgShopDelete($(this));" th:id="${imgShop.id}" href="javascript:;" title="删除" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;&nbsp;&nbsp;</i></a>
		   </span>
	  	</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
		<input type="hidden" name="id" id="shopId" value="" th:value="${shop!=null ? shop.id:''}">
	</form>
	<div class="row cl" id="imgeivClone" style="display:none;">
		<label class="form-label col-xs-4 col-sm-3">附件(图片)：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<a onClick="deleteFile($(this));" href="javascript:;" title="删除" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;&nbsp;&nbsp;</i></a>
			<span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" readonly nullmsg="请添加附件！" style="width:400px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" class="input-file">
			</span>
		</div>
	</div>
</article>

<div th:include="common :: footer"></div>

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$("#formAdd").validate({
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				url: "/editImgShop",
				type: 'post',
				dataType:"json",
				success: function(data){
					layer.msg('添加成功!',{icon:1,time:1000});
					setTimeout("window.parent.location.reload();",1000);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
					setTimeout("window.parent.location.reload();",1000);
				}
			});
		}
	});
});
function addImgFileTr(){
	var imgeDiv=$("#imgeivClone").clone().css("display","").attr("id","newImgeDiv");
	imgeDiv.find("input[type=file]").attr("name","files");
	$("#imgeDiv").append(imgeDiv);
}
function deleteFile(object){
	object.parents("div#newImgeDiv").remove();
}
function imgShopDelete(obj){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/deleteImgShop',
			data : {
				"id" : obj.attr("id")
		    },
			dataType: 'json',
			success : function(data) {
		          if (data.code == "0") {
		           obj.parents("span").remove();
		           layer.msg('已删除!',{icon:1,time:1000});
		          } else {
		              alert("删除失败");
		          }
		      }
		}); 
	});
 }
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>